<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
		<dict>
		<key><![CDATA[church.jpg]]></key>
		<array>
			<string>0,199.0,173.0,102.0</string>
			<string>1,86.0,147.0,353.0</string>
		</array>
		<key><![CDATA[crazyturtles.jpg]]></key>
		<array>
			<string>0,199.0,154.0,70.0</string>
			<string>0,238.0,167.0,264.0</string>
		</array>
		<key><![CDATA[gondolasugarloaf.jpg]]></key>
		<array>
			<string>0,120.0,147.0,92.0</string>
			<string>1,193.0,173.0,360.0</string>
		</array>
		<key><![CDATA[parrots.jpg]]></key>
		<array>
			<string>0,222.0,178.0,69.0</string>
			<string>1,176.0,143.0,340.0</string>
		</array>
	</dict>
	<key>services</key>
	<dict>
		<key>babelfish</key>
		<string>pt</string>
		<key>google-translate</key>
		<string>pt</string>
		<key>yahoo-translate</key>
		<string>pt</string>
	</dict>
</dict>
</plist>
