<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
		<dict>
		<key><![CDATA[buildingfront.jpg]]></key>
		<array>
			<string>0,128.0,167.0,91.0</string>
			<string>1,184.0,153.0,337.0</string>
		</array>
		<key><![CDATA[church.jpg]]></key>
		<array>
			<string>0,186.0,173.0,107.0</string>
			<string>1,65.0,147.0,383.0</string>
		</array>
		<key><![CDATA[cityandboats.jpg]]></key>
		<array>
			<string>0,136.0,172.0,123.0</string>
			<string>1,233.0,149.0,378.0</string>
		</array>
	</dict>
	<key>services</key>
	<dict>
		<key>babelfish</key>
		<string>sv</string>
		<key>google-translate</key>
		<string>sv</string>
		<key>yahoo-translate</key>
		<string>en</string>
	</dict>
</dict>
</plist>
