<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
		<dict>
		<key><![CDATA[churchdoors.jpg]]></key>
		<array>
			<string>0,132.0,147.0,147.0</string>
			<string>1,188.0,159.0,358.0</string>
		</array>
		<key><![CDATA[clockfaces.jpg]]></key>
		<array>
			<string>1,136.0,159.0,158.0</string>
			<string>0,177.0,159.0,305.0</string>
		</array>
		<key><![CDATA[historicbuilding.jpg]]></key>
		<array>
			<string>0,124.0,160.0,140.0</string>
			<string>1,196.0,160.0,344.0</string>
		</array>
		<key><![CDATA[lanternandspire.jpg]]></key>
		<array>
			<string>0,45.0,147.0,133.0</string>
			<string>1,247.0,167.0,371.0</string>
		</array>
	</dict>
	<key>services</key>
	<dict>
		<key>babelfish</key>
		<string>cs</string>
		<key>google-translate</key>
		<string>cs</string>
		<key>yahoo-translate</key>
		<string>cs</string>
	</dict>
</dict>
</plist>
