<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
		<dict>
		<key><![CDATA[blankets.jpg]]></key>
		<array>
			<string>1,124.0,160.0,65.0</string>
			<string>0,300.0,160.0,265.0</string>
		</array>
		<key><![CDATA[doors.jpg]]></key>
		<array>
			<string>1,124.0,160.0,65.0</string>
			<string>0,300.0,160.0,265.0</string>
		</array>
		<key><![CDATA[llamas.jpg]]></key>
		<array>
			<string>1,124.0,160.0,65.0</string>
			<string>0,300.0,160.0,265.0</string>
		</array>
		<key><![CDATA[mariachi.jpg]]></key>
		<array>
			<string>1,124.0,160.0,65.0</string>
			<string>0,300.0,160.0,265.0</string>
		</array>
		<key><![CDATA[masks.jpg]]></key>
		<array>
			<string>1,124.0,160.0,65.0</string>
			<string>0,300.0,160.0,265.0</string>
		</array>
	</dict>
	<key>services</key>
	<dict>
		<key>babelfish</key>
		<string>es</string>
		<key>google-translate</key>
		<string>es</string>
		<key>yahoo-translate</key>
		<string>es</string>
	</dict>
</dict>
</plist>
