<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
		<dict>
		<key><![CDATA[amsterdamcanal.jpg]]></key>
		<array>
			<string>0,171.0,160.0,133.0</string>
			<string>1,67.0,160.0,344.0</string>
		</array>
		<key><![CDATA[nosycows.jpg]]></key>
		<array>
			<string>0,73.0,160.0,104.0</string>
			<string>1,167.0,160.0,327.0</string>
		</array>
		<key><![CDATA[windmillandflowers.jpg]]></key>
		<array>
			<string>0,239.0,160.0,100.0</string>
			<string>1,203.0,160.0,337.0</string>
		</array>
		<key><![CDATA[windmills.jpg]]></key>
		<array>
			<string>0,119.0,160.0,218.0</string>
			<string>1,77.0,160.0,393.0</string>
		</array>
		<key><![CDATA[woodenshoes.jpg]]></key>
		<array>
			<string>0,103.0,160.0,101.0</string>
			<string>1,194.0,160.0,319.0</string>
		</array>
	</dict>
	<key>services</key>
	<dict>
		<key>babelfish</key>
		<string>nl</string>
		<key>google-translate</key>
		<string>nl</string>
		<key>yahoo-translate</key>
		<string>nl</string>
	</dict>
</dict>
</plist>
