<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
		<dict>
		<key><![CDATA[bigbenandbus.jpg]]></key>
		<array>
			<string>0,146.0,179.0,68.0</string>
			<string>0,245.0,157.0,283.0</string>
		</array>
		<key><![CDATA[phonebooth.jpg]]></key>
		<array>
			<string>0,245.0,179.0,70.0</string>
			<string>0,232.0,141.0,283.0</string>
		</array>
		<key><![CDATA[stonhenge.jpg]]></key>
		<array>
			<string>0,145.0,147.0,77.0</string>
			<string>1,188.0,174.0,353.0</string>
		</array>
		<key><![CDATA[theguard.jpg]]></key>
		<array>
			<string>0,111.0,153.0,85.0</string>
			<string>1,195.0,168.0,333.0</string>
		</array>
	</dict>
	<key>services</key>
	<dict>
		<key>babelfish</key>
		<string>en</string>
		<key>google-translate</key>
		<string>en</string>
		<key>yahoo-translate</key>
		<string>en</string>
	</dict>
</dict>
</plist>
