<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
		<dict>
		<key><![CDATA[fabrics.jpg]]></key>
		<array>
			<string>0,75.0,160.0,65.0</string>
			<string>0,300.0,160.0,265.0</string>
		</array>
		<key><![CDATA[memorials.jpg]]></key>
		<array>
			<string>0,75.0,160.0,65.0</string>
			<string>0,300.0,160.0,265.0</string>
		</array>
		<key><![CDATA[monument.jpg]]></key>
		<array>
			<string>0,75.0,160.0,65.0</string>
			<string>0,300.0,160.0,265.0</string>
		</array>
		<key><![CDATA[statues.jpg]]></key>
		<array>
			<string>0,75.0,160.0,65.0</string>
			<string>0,300.0,160.0,265.0</string>
		</array>
	</dict>
	<key>services</key>
	<dict>
		<key>babelfish</key>
		<string>ko</string>
		<key>google-translate</key>
		<string>ko</string>
		<key>yahoo-translate</key>
		<string>ko</string>
	</dict>
</dict>
</plist>
