<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
		<dict>
		<key><![CDATA[archandhiker.jpg]]></key>
		<array>
			<string>0,83.0,146.0,121.0</string>
			<string>1,233.0,174.0,349.0</string>
		</array>
		<key><![CDATA[boots.jpg]]></key>
		<array>
			<string>0,71.0,153.0,116.0</string>
			<string>1,184.0,167.0,364.0</string>
		</array>
		<key><![CDATA[nyny.jpg]]></key>
		<array>
			<string>0,93.0,173.0,86.0</string>
			<string>1,162.0,148.0,375.0</string>
		</array>
		<key><![CDATA[rushmore.jpg]]></key>
		<array>
			<string>0,174.0,149.0,78.0</string>
			<string>1,204.0,172.0,379.0</string>
		</array>
		<key><![CDATA[taxis.jpg]]></key>
		<array>
			<string>0,179.0,171.0,127.0</string>
			<string>1,122.0,150.0,381.0</string>
		</array>
	</dict>
	<key>services</key>
	<dict>
		<key>babelfish</key>
		<string>en</string>
		<key>google-translate</key>
		<string>en</string>
		<key>yahoo-translate</key>
		<string>en</string>
	</dict>
</dict>
</plist>
