<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background-images</key>
		<dict>
		<key><![CDATA[archandhiker.jpg]]></key>
		<string>0,124.0,160.0,65.0</string>
		<key><![CDATA[boots.jpg]]></key>
		<string>0,124.0,160.0,65.0</string>
		<key><![CDATA[nyny.jpg]]></key>
		<string>0,124.0,160.0,65.0</string>
		<key><![CDATA[rushmore.jpg]]></key>
		<string>0,124.0,160.0,65.0</string>
		<key><![CDATA[taxis.jpg]]></key>
		<string>0,124.0,160.0,65.0</string>
	</dict>
	<key>input-language</key>
	<dict>
		<key>human-readable</key>
		<string>English (US)</string>
		<key>services</key>
		<dict>
			<key>babelfish</key>
			<string>en</string>
			<key>google-translate</key>
			<string>en</string>
			<key>yahoo-translate</key>
			<string>en</string>
		</dict>
	</dict>
	<key>output-language</key>
	<dict>
		<key>human-readable</key>
		<string>Chinese (Simplified)</string>
		<key>services</key>
		<dict>
			<key>babelfish</key>
			<string>zh-CN</string>
			<key>google-translate</key>
			<string>zh-CN</string>
			<key>yahoo-translate</key>
			<string>zh-CN</string>
		</dict>
	</dict>
</dict>
</plist>
