<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgrounds</key>
		<dict>
		<key><![CDATA[castleandcity.jpg]]></key>
		<array>
			<string>0,191.0,169.0,80.0</string>
			<string>1,86.0,152.0,365.0</string>
		</array>
		<key><![CDATA[stadiumandtulip.jpg]]></key>
		<array>
			<string>0,235.0,178.0,68.0</string>
			<string>1,87.0,143.0,346.0</string>
		</array>
		<key><![CDATA[statueandflag.jpg]]></key>
		<array>
			<string>0,139.0,146.0,138.0</string>
			<string>0,217.0,174.0,344.0</string>
		</array>
	</dict>
	<key>services</key>
	<dict>
		<key>babelfish</key>
		<string>fr</string>
		<key>google-translate</key>
		<string>fr</string>
		<key>yahoo-translate</key>
		<string>fr</string>
	</dict>
</dict>
</plist>
